* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  h1, h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    padding: 0.5rem 0 0 0;
  }
  
  .main-controls {
    padding: 0.5rem 0;
  }
  
  canvas {
    /* display: block;
    margin-bottom: 0.5rem;; */
    width: 100%;
  }
  
  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #buttons button {
    font-size: 1rem;
    padding: 1rem;

  }
  
  button {
    font-size: 1rem;
    background: #0088cc;
    text-align: center;
    color: white;
    border: none;
    transition: all 0.2s;
    padding: 0.5rem;
  }
  
  button:hover, button:focus {
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
    background: #0ae;
  }
  
  button:active {
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
    transform: translateY(2px);
  }
  
  /* Adjustments for wider screens */
  @media all and (min-width: 800px) {
    /* Don't take all the space as readability is lost when line length
       goes past a certain size */
    .wrapper {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }